/* PlayerTicket.css */

.player-ticket {
  position: relative; /* so close button can be positioned */
  min-width: 200px;
  margin: 0.5em;
  padding: 0.5em 0.5em 3em;
  background: #fafaf6;
  box-shadow: 0.1em 0.1em 0.4em rgba(0, 0, 0, 0.25);
  font-family: "VT323", monospace;
}

.player {
  margin: 0 0 0.5em;
  color: #333;
  font-size: 2em;
  text-align: center;
  text-transform: uppercase;
  letter-spacing: -0.02em;
  white-space: nowrap;
}

.addPick {
  position: absolute;
  bottom: 10px;
  left: 10px;
  padding: 0.7em 1em;
  cursor: copy;
  border: 0;
  border-radius: 0.5em;
  box-shadow: 0.1em 0.2em 0.3em rgba(0, 0, 0, 0.7), inset 0 0 1em gray;
  background: transparent;
}

.deleteTicket {
  position: absolute;
  bottom: 1em;
  right: 1em;
  color: red;
  background: none;
  border: 0;
  cursor: pointer;
  visibility: hidden;
}

.player-ticket:hover .deleteTicket {
  visibility: visible;
}
