.player-ticket {
  min-width: 200px;
  padding: 0.5em 0.5em 3em;
  margin: 0.5em;
  background: #fafaf6;
  box-shadow: 0.1em 0.1em 0.4em rgba(0, 0, 0, 0.25);
  position: relative; /* so close button can be positioned */
}

.player-ticket p.player {
  margin: 0 0 0.5em;
  color: #333;
  font-family: "VT323", monospace;
  font-size: 2em;
  text-align: center;
  text-transform: uppercase;
  letter-spacing: -0.02em;
  white-space: nowrap;
}

.player-ticket .deleteTicket {
  position: absolute;
  bottom: 1em;
  right: 1em;
  color: red;
  background: none;
  border: 0;
  cursor: pointer;
  visibility: hidden;
}

.player-ticket:hover .deleteTicket {
  visibility: visible;
}
