/* Song.css */

.song {
  position: relative; /* so .deleteSong can be absolutely positioned */
  max-width: 12em;
  padding-right: 1em;
  font-family: "VT323", monospace;
  font-size: 1.4em;
  text-transform: uppercase;
  letter-spacing: -0.03em;
}

.points {
  float: right;
  padding-left: 0.5em;
  color: gray;
}

.deleteSong {
  position: absolute;
  top: 0;
  right: 0;
  color: red;
  visibility: hidden;
}

.song:hover .deleteSong {
  visibility: visible;
}
