/* Song.css */

.song {
  position: relative; /* so .deleteSong can be absolutely positioned */
  font-family: "VT323", monospace;
  font-size: 1.4em;
  text-transform: uppercase;
  letter-spacing: -0.03em;
}

.song .points {
  float: right;
  padding: 0 0.2em 0 0.5em;
}

.deleteSong {
  position: absolute;
  top: 0;
  right: 0;
  color: red;
  background: white;
  visibility: hidden;
}

.song:hover .deleteSong {
  visibility: visible;
}
